// Заголовки, загальні БЕМ блоки та інше...
.page {

   &__main {
   }
   &__partners {
   }
   &__how-it-works {
   }
   &__faq {
   }
   &__why {
   }
   &__reviews {
   }
   &__download {
   }
}

.title {
   font-weight: 600;
   @include adaptiveValue("font-size", 70, 45);
   line-height: 1;
   color: $mainColor;
   span {
      color: $accentColor;
   }
}

.description {
   line-height: math.div(32 , 18);
   font-weight: 300;
}

.image-block {
   align-self: start;
   background-color: $image-bg;
   border-radius: rem(20);
   display: flex;
   overflow: hidden;
   @include adaptiveValue("padding-top", 165, 30);
   @include adaptiveValue("padding-bottom", 165, 30);
   @include adaptiveValue("padding-left", 45, 30);
   @include adaptiveValue("padding-right", 45, 30);
   position: relative;
   
   &__item {
      text-align: center;
      position: relative;
      z-index: 2;
      flex: 1 1 auto;
      img {
         max-width: 100%;
         border-radius: rem(20);
      }
   }
   &__circle {
      position: absolute;
      top: 0;
      right: 0;
      @include adaptiveValue("width", 585, 350);
      @include adaptiveValue("height", 585, 350);
      &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      border: 1px solid $mainColor;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
   &_1 {
      &::before {
         transform: translate(calc(50% - rem(18)), - 20%);
   
      }
   }
   &_2 {
      &::before {
         transform: translate(calc(50% - rem(20)), - 6%);
      }
   }
   }
}