.faq {

   &__container-big {
   }

   &__container {
      display: flex;
      row-gap: rem(30);
      @include adaptiveValue("padding-bottom", 100, 25);
      @include adaptiveValue("padding-top", 100, 25);
      @media (max-width:$tablet) {
         flex-direction: column-reverse;
      }
   }

   &__image {
      flex: 0 0 percent(694, 1420);
      @media (max-width:$tablet) {
         width: 100%;
      }
      .image-block__circle {
         top: auto;
         right: auto;
         left: 0;
         bottom: 0;
      }
      .image-block__circle_1 {
         &::before {
            transform: translate(calc(-50% + rem(18)), 20%);
      
         }
      }
      .image-block__circle_2 {
         &::before {
            transform: translate(calc(-50% + rem(20)), 6%);
         }
      }
   }

   &__content {
      flex: 1 1 auto;
      @media (min-width:$tablet){
         @include adaptiveValue("padding-left", 126, 30, 1420, 992, 2);
      }
   }

   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 16);
      }
   }

   &__description {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 30);
      }
   }

   &__spollers {
      display: grid;
      gap: rem(24);
   }
   .spollers-faq {

      &__item {
         background-color: $image-bg;
         border-radius: rem(10);
         overflow: hidden;
      }
   
      &__title {
         text-align: left;
         @include adaptiveValue("font-size", 24, 18);
         line-height: math.div(42 , 24);
         display: block;
         width: 100%;
         padding: rem(24) rem(30);
         display: flex;
         align-items: center;
         gap: rem(10);
         justify-content: space-between;
         &::after {
            content: "";
            transition: transform 0.3s ease 0s;
            background: url("@img/icons/spoller-arrow.svg") center / 100% no-repeat;
            flex: 0 0 rem(24);
            height: rem(24);
         }
         &._spoller-active {
            &::after {
               transform: rotate(180deg);
            }
         }
         @media (max-width:$mobileSmall){
            padding: rem(18) rem(20);
            line-height: 1.3;
         }
      }
   
      &__body {
         text-align: left;
         padding: rem(0) rem(30) rem(24) rem(30);
         @media (max-width:$mobileSmall){
            padding: rem(0) rem(20) rem(18) rem(20);
         }
      }
   }
}




