//====================================================================================================
.footer {
   @include adaptiveValue("padding-top", 70, 20);
   background-color: rgba(53, 64, 70, 0.5);
   &__container-big {
      @include adaptiveValue("margin-bottom", 80, 20);
   }

   &__main {
      @include adaptiveValue("padding-bottom", 100, 30);
      @include adaptiveValue("padding-top", 68, 30);
      border-bottom: 1px solid $footerBorder;
   }

   &__bottom {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
      align-items: center;
      @include adaptiveValue("padding-top", 56, 20);
      @media (max-width:$mobile){
         flex-direction: column-reverse;
      }
   }

   &__copy {
      font-size: rem(12);
   }

   &__menu {
   }
}
.main-footer {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: rem(20);
   row-gap: rem(40);
   @media (max-width:$tablet){
      grid-template-columns: repeat(2, 1fr);
   }
   @media (max-width:$mobileSmall) {
      grid-template-columns: 1fr;
   }

   &__info {
      max-width: rem(280);
      @media (max-width:$tablet) {
         order: 1;
      }
   }

   &__logo {
      display: inline-block;
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   &__description {
   }

   &__form {
      @media (max-width:$tablet){
         order: 3;
         justify-self: center;
      }
      @media (max-width:$tablet) and (min-width: $mobileSmall) {
         grid-column: span 2;
      }
   }

   &__contacts {
      display: flex;
      @include adaptiveValue("gap", 48, 20);
      @media (max-width: em(1180)) {
         flex-direction: column;
      }
      @media (max-width:$tablet) {
         order: 2;
         // grid-column: span 2;
      }
      @media (min-width:$mobileSmall){
         justify-self: end;
      }
   }

   &__social {
   }

   &__label {
      font-weight: 600;
      font-size: rem(16);
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }

   &__call-us {
   }

   &__phone {
      font-size: rem(16);
   }
}

.form-subscribe {

   &__text {
      max-width: rem(340);
      font-weight: 300;
      @media (max-width:$tablet) {
         max-width: none;
      }
      &:not(:last-child) {
         margin-bottom: rem(24);
      }
   }
}

.social {
   display: flex;
   gap: rem(16);

   &__item {
      flex: 0 0 rem(48);
      width: rem(48);
      height: rem(48);
      border-radius: 50%;
      background-color: $mainColor;
      display: grid;
      place-items: center;
      &:hover {
         box-shadow: 5px 5px 70px $accentColor;
      }
   }
}
.menu-footer {

   &__list {
      display: flex;
      flex-wrap: wrap;
      @include adaptiveValue("gap", 40, 20);
      @media (max-width:$mobile){
         justify-content: center;
      }
   }

   &__item {
   }

   &__link {
      font-size: 14px;
      @media (max-width:$mobile){
         font-size: 18px;
      }
   }
}

//====================================================================================================
