//====================================================================================================

.main-block {

   &__container-big {
      position: relative;
   }

   &__container {
      position: relative;
   }

   &__content {
      text-align: center;
      position: relative;
      z-index: 2;
      @include adaptiveValue("padding-top", 250, 130);
      @include adaptiveValue("padding-bottom", 200, 50);
      display: grid;
      place-items: center;
   }

   &__title {
      max-width: rem(750);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 69, 30);
      }

   }

   &__description {
      max-width: rem(580);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 16);
      }
   }

   &__form {
      @media (max-width: em(430)) {
         width: 100%;
      }
   }

   &__icons {
   }
}

.icons-main-block {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   pointer-events: none;
   @media (max-width:$mobile){
      opacity: 0.3;
   }
   &__circle {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      @include adaptiveValue("width", 585, 350);
		@include adaptiveValue("height", 585, 350);
      &::before {
			content: "";
         display: block;
         border-radius: 50%;
			width: 100%;
         height: 100%;
			border: 1px solid $mainColor;
		}
		
      &_1 {
         &::before {
            transform: translate(calc(-50% - rem(28)), -37%);
         }
      }

      &_2 {
         &::before {
            transform: translate(calc(-50% + rem(27)), -46%);
         }
      }
   }

   &__item {
      position: absolute;
      &_1 {
         top: percent(675, 974);
         left: rem(15);
      }

      &_2 {
         top: percent(380, 974);
         left: percent(237, 1620);
      }

      &_3 {
         top: percent(757, 974);
         left: percent(403, 1620);
      }

      &_4 {
         top: percent(134, 974);
         left: percent(1122, 1620);
      }

      &_5 {
         top: percent(419, 974);
         right: percent(279, 1620);
      }

      &_6 {
         top: percent(776, 974);
         right: percent(259, 1620);
      }

      &_7 {
         top: percent(367, 974);
         right: rem(15);
      }
   }
}

//====================================================================================================
