.partners {

   &__container {
      padding-top: rem(20);
      @include adaptiveValue("padding-bottom", 200, 50);
   }

   &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      gap: rem(25);
   }

   &__item {
      text-align: center;
      img {
         max-width: 100%;
      }
   }
}
