.reviews {

   &__container-big {
   }

   &__container {
      display: grid;
      place-items: center;
      @include adaptiveValue("padding-top", 100, 25);
      @include adaptiveValue("padding-bottom", 200, 50);
   }

   &__title {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 32, 20);
      }
   }

   &__description {
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 20);
      }
      @media (min-width:$tablet) {
         max-width: rem(450);
      }
   }

   &__items {
      display: flex;
      @include adaptiveValue("gap", 48, 25);
      &:not(:last-child) {
         @include adaptiveValue("margin-bottom", 48, 20);
      }
      @media (max-width:$mobileSmall){
         flex-direction: column;
      }
   }

   &__item {
      flex: 0 1 50%;
   }

   &__button {
      min-width: rem(222);
   }
}

.item-review {
   display: flex;
   background-color: $image-bg;
   border-radius: rem(20);
   overflow: hidden;
   @media (max-width:$tablet){
      flex-direction: column;
   }
   &__image-ibg {
      padding-bottom: percent(377, 686);
      flex: 0 0 percent(300, 686);
   }

   &__content {
      gap: rem(15);
      @include adaptiveValue("padding", 32, 20);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__text {
   }

   &__name {
      font-weight: 600;
   }
}

